@font-face {
  font-family: Grundschrift-Punkt;
  src: url(./assets/fonts/Grundschrift/Grundschrift-Punkt.otf);
}
@font-face {
  font-family: Grundschrift-Normal;
  src: url(./assets/fonts/Grundschrift/Grundschrift-Normal.otf);
}
@font-face {
  font-family: rounded-x-mgenplus-1mn-regular;
  src: url(./assets/fonts/rounded-x-mgenplus/rounded-x-mgenplus-1mn-regular.woff2)
}
@keyframes whiteout {
  0% {
    left: 0;
    right: 0;
  }
  20% {
    left: 0;
    right: 0;
  }
  25% {
    left: 100%;
    right: 0;
  }
  90% {
    left: 100%;
    right: 0;
  }
  95% {
    left: 0;
    right: 100%;
  }
}
:root {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  margin: 24px 0 24px 32px;
}
h1 {
  font-family: Grundschrift-Punkt;
  font-size: 2.5em;
  position: relative;
  display: inline-block;
  margin: 0;
  white-space: nowrap;
}
h1::before {
  content: attr(data-animated-text);
  font-family: Grundschrift-Normal;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: -1;
}
h1::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: white;
  animation: whiteout 10s linear infinite;
}
code {
  font-family: rounded-x-mgenplus-1mn-regular, monospace;
}
input[type=text], input[data-lenientime] {
  font-family: rounded-x-mgenplus-1mn-regular, monospace;
  padding: 0 .4em;
  font-size: 1em;
  outline: none;
  border: 1px solid #ddd;
  border-radius: .2em;
  width: 12em;
  background-color: transparent;
  font-size: 93.75%;
}
input[data-lenientime] {
  width: 30em;
}
input:focus {
  border-color: #6cf;
  box-shadow: 0 0 3px #6cf;
}
.input, .format {
  border: 2px solid #ccc;
}
table {
  border-collapse: collapse;
}
td, th {
  padding: 1px .25em;
}
td > input,
th > input {
  margin-right: .25em;
}
tr > td:first-child,
tr > th:first-child {
  border-right: 1px solid #999;
}
thead > tr:last-child > th {
  border-bottom: 1px solid #999;
  padding-bottom: 3px;
}
tbody > tr:first-child > td {
  padding-top: 3px;
}
tbody > tr:nth-child(even) > td {
  background-color: #eee;
}
th {
  vertical-align: bottom;
}
.github-link {
  display: inline-block;
  border-radius: 50%;
  margin-left: .5em;
  line-height: 0;
}
.github-link > img {
  width: 2em;
  height: 2em;
}

section {
  padding-left: 20px;
}
section > h5 {
  font-family: Grundschrift-Normal;
  font-size: 1.5em;
  margin: 1.5em 0 .75em -20px;
}
section > h6 {
  font-size: 1em;
  font-weight: normal;
  margin: .5em 0 .25em -20px;
}
ul {
  margin-top: 0;
}
.code {
  display: inline-block;
  padding: .5em 1em;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  font-size: 93.75%;
}
